<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="/css/form.css" rel="stylesheet" type="text/css">
    <title>Edit Post</title>
</head>

<body>
    <h1>
        Edit Post
    </h1>
    <form action="/profile/<%=insta.id%>?_method=PUT" method="POST">
        <div class='form-group'>
            Username:<input type="text" name='username' class="form-control" value='<%=insta.username%>'>
            Profile Photo:<input type="url" name='profilePhoto' class="form-control" value='<%=insta.profilePhoto%>'>
            Image:<input type="url" name='img' class="form-control"value='<%=insta.img%>'>
            Caption:<input type="text" name="caption" class="form-control" value="<%=insta.caption%>"/>      
            Tag:<input type="text" name="tag" class="form-control" value="<%=insta.tag%>"/> 
        </div>
            <input class="btn btn-outline-primary" id='submit' type="submit" value="Submit">    
    </form>
   
</body>
</html>